<!-- templates/calendar_view.html -->
{% extends "Calendar/base.html" %}
{% block title %}Calendar View{% endblock title %}
{% block content %}
<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <header class="p-3 mb-3 border-bottom">
        <h1><a href="{% url 'home'%}">Производственный календарь</a></h1>
    </header>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">App</a></li>
            <li class="breadcrumb-item"><a href="#">Path</a></li>
            <li class="breadcrumb-item"><a href="#">Info</a></li>
            <li class="breadcrumb-item active" aria-current="page">Calendar</li>
        </ol>
      </nav>
    <main>
        <div class="input-group mb-3">
            {% csrf_token %}
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary button-active" id="decrementYear-btn" type="button" onclick="decrementYear()"><</button>
            </div>
            <input type="text" readonly class="form-control text-center" id="current-year" value="0" placeholder="" aria-label="" aria-describedby="basic-addon1" method="post">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary button-active" id="incrementYear-btn" type="button" onclick="incrementYear()">></button>
            </div>
        </div>
        <div style="display:none" id='off_dates_container' class="invisible date_feed2">
            {{ off_dates }}
            <ul>
                {% for d in off_dates %}
                <li class="date_feed">{{ d }}</li>
                {% endfor %}
            </ul>
        </div>
        <div style="display: block" id="jsonData" data-json="{{ get_dates }}">  </div>

        <div class ="container-fluid" id="container">
        </div>


          <div id="my-data">
              {{ get_all_dates|json_script:"off_date" }}
          <script>
              let myData = JSON.parse(document.getElementById('off_dates_container').textContent);
              console.log('111'+myData);
          </script>
          </div>
        {% block main_buttons %}
        <div class="footer-btn">
            <div class="input-group-append d-flex justify-content-end">
                <button type="button" id="edit-btn" class="btn btn-primary button-active">Редактировать</button>
                <button type="button" id="save-btn" class="btn btn-danger button-hidden">Сохранить</button>
                <button type="button" id="cancel-btn" class="btn btn-warning button-hidden">Отмена</button>
                <button type="button" id="reboot-btn"  class="btn btn-secondary button-active">Обновить</button>
            </div>
            </div>
        <div class="modal fade" id="saveModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLongTitle">Сохранение календаря</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="confirm-info" class="modal-body">
                        Вы уверены, что хотите сохранить экземпляр календаря за этот год?
                    </div>
                    <script>
                    setTimeout(()=>{document.getElementById('confirm-info').innerText='Вы уверены, что хотите сохранить экземпляр календаря за '+document.getElementById("current-year").value.toString()+' год?'},500)</script>
                    <div class="modal-footer">
                        <button type="button" id="confirm-btn" class="btn btn-primary">Сохранить изменения</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-success alert-dismissible fade show" id="alert_success_upload" role="alert" style="display: none;">
            <span>Сохранение данных прошло успешно!</span>
          <button type="button" class="close" onclick="$('#alert_success_upload').fadeOut()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endblock main_buttons %}
    </main>
  </div>
{% endblock content %}