<!-- templates/calendar_view.html -->
{% extends "Calendar/base.html" %}
{% block title %}Calendar View{% endblock title %}
{% block content %}
  <div class="container-fluid">
    <header class="p-3 mb-3 border-bottom">
        <h1><a href="{% url 'home'%}">Производственный календарь</a></h1>
    </header>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">App</a></li>
            <li class="breadcrumb-item"><a href="#">Path</a></li>
            <li class="breadcrumb-item"><a href="#">Info</a></li>
            <li class="breadcrumb-item active" aria-current="page">Calendar</li>
        </ol>
      </nav>
    <main>
        <div class="input-group mb-3">
            {% csrf_token %}
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="button" onclick="decrementYear()"><{% csrf_token %}</button>
            </div>
            <input type="text" readonly class="form-control text-center" id="current-year" value="0" placeholder="" aria-label="" aria-describedby="basic-addon1" method="post">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" onclick="incrementYear()">>{% csrf_token %}</button>
            </div>
        </div>
        <div style="display:none" id='off_dates_container' class="invisible date_feed2">
            {{ off_dates }}
            <ul>
                {% for d in off_dates %}
                <li class="date_feed">{{ d }}</li>
                {% endfor %}
            </ul>
        </div>
        <div style="display: block" id="jsonData" data-json="{{ get_dates }}">  </div>

        <div class ="container-fluid" id="container">
        </div>


          <div id="my-data">
              {{ get_all_dates|json_script:"off_date" }}
          <script>
              let myData = JSON.parse(document.getElementById('off_date').textContent);
              console.log('111'+myData);
          </script>
          </div>
        {% block main_buttons %}
        <div class="input-group-append d-flex justify-content-end">
            <button type="button" id="edit-btn" class="btn btn-primary">Редактировать</button>
            <button type="button" class="btn btn-secondary button-hidden" id="reboot-btn" onclick="createCalendar(currentYear)">Обновить</button>
        </div>
        {% endblock main_buttons %}
    </main>
  </div>
{% endblock content %}