.navbar-brand.mb-0.h1{
    color: #007bff;
}

.navbar-nav.mr-auto{
    margin-right: initial!important;
    justify-content: flex-end!important;
}

.breadcrumb-navigation{
    background-color: #E9ECEF;
}

.col{
    padding: 10px 10px;
    display: flex;
    justify-content: center;
}

.-inline-{
    padding: 5px 5px;
}

#container{
    background-color: #E9ECEF;
    padding: 10px 20px
}
#current-year{
    border-radius: .25rem;
}

.footer-btn{
    padding: 10px;
}

.input-group-append button.btn+.btn{
    margin-left: 5px;
}

#container:not(.-view-) > div .air-datepicker-cell.-day-.-selected- {
    background: #CC3333;
}

.button-hidden {
    display: none;

}

.button-active {
    display: block;
}

.button-hidden {
    display: none;

}

.button-active {

}

@media (min-width: 1124px) {
.navbar.navbar-expand-lg.navbar-light, h1, #breadcrumb-list, .input-group.mb-3, .footer-btn{
    width:1024px;
    align-items: center;
    }
}



