.breadcrumb-navigation{
    background-color: #E9ECEF;
}

.col{
    padding: 10px 10px;
    display: flex;
    justify-content: center;
}

.-inline-{
    padding: 5px 5px;
}

#container{
    background-color: #E9ECEF;
    padding: 10px 20px
}
#current-year{
    border-radius: .25rem;
}

.footer-btn{
    padding: 10px;
}

.input-group-append button.btn+.btn{
    margin-left: 5px;
}

.button-hidden {
    display: none;

}

.button-active {
    display: block;
}

.button-hidden {
    display: none;

}

.button-active {

}

